.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--color-bg);
}

.tasks-title
{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 10px 10px 10px;
    font-family: system-ui, sans-serif;
    color: #555;
}